@font-face {
    font-family: ;
    src: url(FONTS/LibreBaskerville-Bold.ttf);
}






body{
    background-color: rgb(0, 0, 0);
}

p{
    color: #00d9ff;
}


h1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

img{
    width: 20%;
    height: auto;
}


.img{
	height: auto;
	width: 50%;
}


.precio{
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
    width: 5%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}


.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color:#0043fa;
	border-radius:12px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background-color:#853939;
}
.myButton:active {
	position:relative;
	top:1px;
}

.grupo-fotos{
    background-color: rgb(115, 222, 255);
}

.fotos{
    background-color: rgb(217, 255, 0);
    width: 30%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}